src/main/resources/META-INF/AmadeusWebServices.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.amadeus.com" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:air_flightinfo_7_1="http://xml.amadeus.com/FLIREQ_07_1_1A" xmlns:air_flightinforeply_7_1="http://xml.amadeus.com/FLIRES_07_1_1A" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://xml.amadeus.com">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="AMA/2012B/AMA_WS_Session.xsd" namespace="http://xml.amadeus.com/2010/06/Session_v3" />
      <xs:import schemaLocation="AMA_WSLink.xsd" namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" />
      <xs:import schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" namespace="http://xml.amadeus.com/2010/06/Security_v1" />
      <xs:import schemaLocation="Air_FlightInfo_07_1_1A.xsd" namespace="http://xml.amadeus.com/FLIREQ_07_1_1A" />
      <xs:import schemaLocation="Air_FlightInfoReply_07_1_1A.xsd" namespace="http://xml.amadeus.com/FLIRES_07_1_1A" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part element="awsse:Session" name="session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part element="awsl:TransactionFlowLink" name="link" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part element="amasec:AMA_SecurityHostedUser" name="security" />
  </wsdl:message>
  <wsdl:message name="Air_FlightInfo_7_1">
    <wsdl:part element="air_flightinfo_7_1:Air_FlightInfo" name="Air_FlightInfo_7_1" />
  </wsdl:message>
  <wsdl:message name="Air_FlightInfoReply_7_1">
    <wsdl:part element="air_flightinforeply_7_1:Air_FlightInfoReply" name="Air_FlightInfoReply_7_1" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="Air_FlightInfo">
      <wsdl:input message="tns:Air_FlightInfo_7_1" />
      <wsdl:output message="tns:Air_FlightInfoReply_7_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding type="tns:AmadeusWebServicesPT" name="AmadeusWebServicesBinding">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Air_FlightInfo">
      <soap:operation soapAction="http://webservices.amadeus.com/FLIREQ_07_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_3.000" use="literal" />
        <soap:header part="link" message="tns:TransactionFlowLink_1.0" use="literal" />
        <soap:header part="security" message="tns:AMA_SecurityHostedUser_1.000" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_3.000" use="literal" />
        <soap:header part="link" message="tns:TransactionFlowLink_1.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <soap:address location="https://nodeA1.test.webservices.amadeus.com/1ASIWPOC1A" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
